@model IEnumerable<SweetShopProject.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<style>
.btn {
  border: none;
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
}

.success {background-color: #04AA6D;}
.success:hover {background-color: #46a049;}


.warning {background-color: #ff9800;} 
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} 
.danger:hover {background: #da190b;}

</style>

<h1 style="-webkit-text-fill-color:chocolate">Catogories</h1>

<p>
    <button type="button" class="btn btn-outline-primary">
    <a class="text-light btn btn-primary" asp-action="Create">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>
            <td>
                 <button type="button" class="btn btn-outline-success">
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.id">Edit</a>

                <button type="button" class="btn btn-outline-warning">
                <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.id">Details</a>

                <button type="button" class="btn btn-outline-danger">
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
